@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title
{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    padding: 10px;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 60px;
    background: #9545b5;
}

.container form .user_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user_details .input-box{
    margin-bottom: 15px ;
    width: calc(100% / 2 - 20px);
}
.user_details .input-box . details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user_details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc ;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
} 
.user_details .input-box input:focus
.user_details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
     font-size: 20px;
     font-weight: 500;
} 

form .gender-details .category{
    display: flex;
    width: 80%;
    background: rgb(248, 41, 75);
    justify-content: space-between;
    margin: 14px 0;
}
.gender-details .category label{
    display: flex;
    align-items: center;

}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: rgb(242, 255, 0);
    border-radius: 50%;
    margin-right: 10px;
    border: 5px  ;
}